<% if (config.disqus_shortname && page.comments){ %>
<div class="row">
<div class="col-md-12">
  <h3><%= __('comment') %></h3>
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
  </div>
</div>
<% } %>
